<div>
  <button {{action showLeft false}}>Left Clear</button>
  <button {{action showLeft 'blue-sidebar' }}>Left Blue</button>
  <button {{action showLeft 'red-sidebar' }}>Left Red</button>
</div>

<div>
  <button {{action showRight false}}>Right Clear</button>
  <button {{action showRight 'green-sidebar' }}>Right Green</button>
  <button {{action showRight 'red-sidebar' }}>Right Red</button>
</div>

<div>
  <button {{action showTop false}}>Top Clear</button>
  <button {{action showTop 'purple-sidebar' }}>Top Purple</button>
  <button {{action showTop 'orange-sidebar' }}>Top Orange</button>
</div>

<div>
  <button {{action showBottom false}}>Bottom Clear</button>
  <button {{action showBottom 'purple-sidebar' }}>Bottom Purple</button>
  <button {{action showBottom 'orange-sidebar' }}>Bottom Orange</button>
</div>
