<div>
  <button {{action 'show' 'left' null }}>Left Clear</button>
  <button {{action 'show' 'left' 'blue-sidebar' }}>Left Blue</button>
  <button {{action 'show' 'left' 'red-sidebar' }}>Left Red</button>
</div>

<div>
  <button {{action 'show' 'right' null }}>Right Clear</button>
  <button {{action 'show' 'right' 'green-sidebar' }}>Right Green</button>
  <button {{action 'show' 'right' 'red-sidebar' }}>Right Red</button>
</div>

<div>
  <button {{action 'show' 'top' null }}>Top Clear</button>
  <button {{action 'show' 'top' 'purple-sidebar' }}>Top Purple</button>
  <button {{action 'show' 'top' 'orange-sidebar' }}>Top Orange</button>
</div>

<div>
  <button {{action 'show' 'bottom' null }}>Bottom Clear</button>
  <button {{action 'show' 'bottom' 'purple-sidebar' }}>Bottom Purple</button>
  <button {{action 'show' 'bottom' 'orange-sidebar' }}>Bottom Orange</button>
</div>
