{{yield}}

<div class="cst-left">
  {{#from-elsewhere name="cst-left" as |left|}}
    {{#liquid-bind left rules=leftRules containerless=true as |currentLeft|}}
      {{component currentLeft}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>

<div class="cst-right">
  {{#from-elsewhere name="cst-right" as |right|}}
    {{#liquid-bind right rules=rightRules containerless=true as |currentRight|}}
      {{component currentRight}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>

<div class="cst-top">
  {{#from-elsewhere name="cst-top" as |top|}}
    {{#liquid-bind top rules=topRules containerless=true as |currentTop|}}
      {{component currentTop}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>

<div class="cst-bottom">
  {{#from-elsewhere name="cst-bottom" as |top|}}
    {{#liquid-bind top rules=bottomRules containerless=true as |currentBottom|}}
      {{component currentBottom}}
    {{/liquid-bind}}
  {{/from-elsewhere}}
</div>
