<div>
  <button {{action (action (mut showLeft) false)}}>Left Clear</button>
  <button {{action (action (mut showLeft) 'blue-sidebar') }}>Left Blue</button>
  <button {{action (action (mut showLeft) 'red-sidebar') }}>Left Red</button>
</div>

<div>
  <button {{action (action (mut showRight) false)}}>Right Clear</button>
  <button {{action (action (mut showRight) 'green-sidebar') }}>Right Green</button>
  <button {{action (action (mut showRight) 'red-sidebar') }}>Right Red</button>
</div>

{{lorem-ipsum}}

{{#if showLeft}}
  {{to-elsewhere named="left-sidebar" send=(component showLeft) }}
{{/if}}

{{#if showRight}}
  {{to-elsewhere named="right-sidebar" send=(component showRight) }}
{{/if}}
